
body{
  margin: 0;
  padding: 0;
}
.header{
  margin: 0;
  padding: 20px;
  background-color: burlywood;
}
.header a{
  text-decoration: none;
  color: black;
  margin: 10px;
  justify-content: center;
 
  
}

.header a:focus{
  color: red;
}
.header a:hover{
  color: red;
}

.posts{
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.posts a{
  text-decoration: none;
  background-color: red;
  color: white;
  padding: 5px;
  margin: 5px;
  margin-top: 20px;
}





